-- ============================================
-- MIGRACIÓN: Sistema de Colaboración para CaraColaViajes
-- Fecha: 2 Diciembre 2025
-- Autor: Chema + AI Assistant
-- Descripción: Chat de desarrollo y comentarios en roadmap
-- ============================================

-- TABLA: dev_messages (Chat de desarrollo)
CREATE TABLE IF NOT EXISTS dev_messages (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    user_email TEXT NOT NULL,
    user_name TEXT,
    message TEXT NOT NULL,
    file_url TEXT,
    file_name TEXT,
    reply_to UUID REFERENCES dev_messages(id),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Índices para mejor rendimiento
CREATE INDEX IF NOT EXISTS idx_dev_messages_user ON dev_messages(user_id);
CREATE INDEX IF NOT EXISTS idx_dev_messages_created ON dev_messages(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_dev_messages_reply ON dev_messages(reply_to);

-- RLS (Row Level Security) para chat
ALTER TABLE dev_messages ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Usuarios autenticados pueden leer mensajes" ON dev_messages;
CREATE POLICY "Usuarios autenticados pueden leer mensajes" 
    ON dev_messages FOR SELECT 
    TO authenticated 
    USING (true);

DROP POLICY IF EXISTS "Usuarios autenticados pueden enviar mensajes" ON dev_messages;
CREATE POLICY "Usuarios autenticados pueden enviar mensajes" 
    ON dev_messages FOR INSERT 
    TO authenticated 
    WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS "Usuarios pueden editar sus propios mensajes" ON dev_messages;
CREATE POLICY "Usuarios pueden editar sus propios mensajes" 
    ON dev_messages FOR UPDATE 
    TO authenticated 
    USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Usuarios pueden eliminar sus propios mensajes" ON dev_messages;
CREATE POLICY "Usuarios pueden eliminar sus propios mensajes" 
    ON dev_messages FOR DELETE 
    TO authenticated 
    USING (auth.uid() = user_id);

-- Habilitar Realtime para el chat (IMPORTANTE para tiempo real)
ALTER PUBLICATION supabase_realtime ADD TABLE dev_messages;

-- TABLA: roadmap_comments (Comentarios en roadmap)
CREATE TABLE IF NOT EXISTS roadmap_comments (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    user_email TEXT NOT NULL,
    user_name TEXT,
    content TEXT NOT NULL,
    section TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Índices
CREATE INDEX IF NOT EXISTS idx_roadmap_comments_user ON roadmap_comments(user_id);
CREATE INDEX IF NOT EXISTS idx_roadmap_comments_created ON roadmap_comments(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_roadmap_comments_section ON roadmap_comments(section);

-- RLS para comentarios del roadmap
ALTER TABLE roadmap_comments ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Usuarios autenticados pueden leer comentarios" ON roadmap_comments;
CREATE POLICY "Usuarios autenticados pueden leer comentarios" 
    ON roadmap_comments FOR SELECT 
    TO authenticated 
    USING (true);

DROP POLICY IF EXISTS "Usuarios autenticados pueden crear comentarios" ON roadmap_comments;
CREATE POLICY "Usuarios autenticados pueden crear comentarios" 
    ON roadmap_comments FOR INSERT 
    TO authenticated 
    WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS "Usuarios pueden editar sus propios comentarios" ON roadmap_comments;
CREATE POLICY "Usuarios pueden editar sus propios comentarios" 
    ON roadmap_comments FOR UPDATE 
    TO authenticated 
    USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Usuarios pueden eliminar sus propios comentarios" ON roadmap_comments;
CREATE POLICY "Usuarios pueden eliminar sus propios comentarios" 
    ON roadmap_comments FOR DELETE 
    TO authenticated 
    USING (auth.uid() = user_id);

-- Comentarios de metadata
COMMENT ON TABLE dev_messages IS 'Chat interno para comunicación del equipo de desarrollo en tiempo real';
COMMENT ON TABLE roadmap_comments IS 'Comentarios colaborativos en el roadmap del proyecto';

-- Verificación final
SELECT 'Migración completada exitosamente ✅' AS status;

